section.hero {
    min-height: 60vh;
    justify-content: flex-start;
}

.hero-content {
    max-width: 650px;
    color: #c1121f;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.hero-desc {
    font-size: 1.25rem;
    color: #333;
}

.table {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto 3rem auto;
}

.table tbody tr:hover {
    background: #fbe9e9;
}

.table tbody td:first-child {
    font-size: 1.18rem;
    width: 105px;
    text-align: center;
}

.photo {
    width: 96px;
    height: 96px;
    box-shadow: 0 0 8px rgba(193, 18, 31, 0.6);
}

.driver-number {
    font-weight: 800;
    color: #c1121f !important;
    font-size: 1.18rem;
    text-align: center;
    width: 105px;
}

.add-button {
    width:90vw;
    max-width:1200px;
    margin:0 auto 3rem auto;
}
